rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public read access for the dashboard
    match /listas/{lista} {
      allow read: if true;
      allow write: if false;
    }
    match /escuelas/{escuela} {
      allow read: if true;
      allow write: if false;
    }

    // The dashboard uses a collection group query on 'mesas'.
    // This rule allows any client to query the 'mesas' collection group.
    match /{path=**}/mesas/{mesa} {
        allow read: if true;
        allow write: if true;
    }

      // Fiscales are imported via cloud functions and solo permiten lectura pública.
    match /fiscales/{userId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
